# SQLite
DATABASE_URL="file:./dev.db"

# Local Storage
STORAGE_PATH="../storage"
STORAGE_URL="http://localhost:3001/storage"

# Python Engine
ENGINE_URL="http://localhost:8000"

# Frontend URL (for CORS)
FRONTEND_URL="http://localhost:5173"

PORT=3001
NODE_ENV=development
